---
export const prerender = true;

import Header from "../components/Header.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
	<Header />

	<div id="splash-new">
		<a href="/new" role="button">New Game</a>
	</div>
</DefaultLayout>