---
---
<h1>Cornhole!</h1>

<script is:inline>
    const sleep = (ms) => new Promise((r) => setTimeout(r, ms));

    // document.addEventListener('DOMContentLoaded', async (event) => {
    //     // if (delayAndAnimate) {
    //         // shrink header and move to upper third
    //         // show new game button

    //         await sleep(2000);

    //         // animate
    //         window.location.href = "/new";
    //     // }
    // });
</script>